*{
    padding:0;
    box-sizing: border-box;
    margin: 0;
}
nav{
    width:100vw;
    height:10vh;
    font-weight: 700;
    color: white;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    justify-content: center;
}
.model{
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    background: black;
}
.box{
    height:15vh;
    width:70vw;
    align-self: center;
    text-align: center;
    opacity:0.5;
    transition:opacity 1s ease-in-out;
    font-family: sans-serif;
    color:white;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.box h1{
    font-weight: 700;
    font-size: 30px;
}
.box:hover{
    opacity:1;
}

.physical{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dataLink{
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.networking{
    background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.transport{
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.session{
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.presentation{
    background:white;background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.application{
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.model h1{
    align-self: center;
}
.model h1:hover{
    animation: textChanger 1s ;
    animation-fill-mode: forwards;
}
div .textChange{
    font-size: 16px;;
}
@keyframes textChanger{
    from{
        transform: translateX(0);
        opacity:1;
    }to{
        transform: translateX(-10px);
        opacity:0;
    }
}
@keyframes enter{
    from{
        opacity:0;
        transform: translateX(10px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}
    @media (max-width:800px){
        .box{
            width:100vw;
        }
    }